/**
 * Elementor editor styling
 */
.creator-mode.elementor-nerd-box .elementor-nerd-box-title {
	margin-block-start: 24px;
}
.creator-mode.elementor-nerd-box .elementor-nerd-box-message {
	margin-block-start: 12px;
}
.creator-mode.elementor-nerd-box .elementor-nerd-box-link {
	margin-block-start: 24px;
}